<launch>
  <arg name="frame_id"    default="map" />
  <arg name="graph_topic" default="graph"/>
  <arg name="ns"          default="pose_graph"/>

  <!-- visualizer node -->
  <node name="posegraph_viewer" pkg="pose_graph_tools_ros" type="visualizer_node"
    output="screen" ns="$(arg ns)">
    <remap from="~graph"    to="$(arg graph_topic)" />

    <param name="frame_id" value="$(arg frame_id)"/>
  </node>
</launch>
